body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
}
form{
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
input[type='text']{
    font-size: 18px;
    height: 30px;
    border: 1px solid gray;
}
button{
    background-color: orangered;
    color: white;
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
}
button:hover{
    box-shadow: 0 0 15px white;
    cursor: pointer;
}
